.site{
  padding: 0;
  overflow: hidden;
  .site-header{
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include respond-to() {
  			width: $size__site-full;
  	}
  }
}
