.header-menu{
background-color : #ec766a;
  .main-navigation {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @include respond-to() {
    			width: auto;
    	}
    .menu-toggle {
      margin: 0 auto;
      padding: 10px;
      background-color: gray;
    }
    ul {
      display: none;
      margin: 0 auto;
      padding: 0 3%;
      list-style: none;
      @include respond-to() {
      			width: $size__site-full;
      	}
      .sub-menu {
        position: absolute;
        padding: 0;
        left: -999rem;
        z-index: 99999;
        @include respond-to() {
      			width: $size__site-full;
      	}
        ul {
          left: -999rem;
          top: 0;
          @include respond-to() {
        			width: $size__site-full;
        	}
        }
        li {
          display: block;
          &.focus>ul, &:hover>ul {
            left: 100%;
          }
        }
        a {
          width: 250px;
          padding: 15px 20px;
          color: #000;
          background-color : #fff;
          text-align: center;
          font-size: 15px;
          font-weight: 400;
          @include respond-to() {
        			width: $size__site-full;
        	}
        }
      }
      li.focus>ul, li:hover>ul {
        left: auto;
        background: #ab6e68;
      }
    }
    li {
      display: inline-block;
      position: relative;
      float: left;
      @include respond-to($to-width: 800px) {
        width: 100%;
      }
      &.focus>a, &:hover>a {
        background: rgba(0, 0, 0, 0.2);
      }
    }
    a {
      display: block;
      margin: 0 auto;
      padding: 10px;
      color: #000;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      @include respond-to() {
    			width: $size__site-full;
    	}

    }
    .current-menu-ancestor>a, .current-menu-item>a, .current_page_ancestor>a, .current_page_item>a {
      background-color: rgba(0, 0, 0, 0.2);;
    }
  }
  /* Small menu. */

  .main-navigation.toggled ul, .menu-toggle {
    display: block;
  }
  @media screen and (min-width: 37.5rem) {
    .menu-toggle {
      display: none;
    }
    .main-navigation ul {
      display: block;
    }
  }
  .comment-navigation, .post-navigation, .posts-navigation {
    .site-main & {
      margin: 0 0 1.5rem;
      overflow: hidden;
    }
    .nav-previous {
      float: left;
      width: 50%;
    }
    .nav-next {
      width: 50%;
      text-align: right;
      float: right;
      @include respond-to() {
    			width: 50;
    	}
    }
  }
}
