.widget-area {
	display: inline-block;
	width: 100%;
  margin: 0 auto;
	padding: 0;
	@include respond-to() {
		width: $size__site-full;
	}
	.widget {
		display: inline-block;
		width: calc(100% / 5 - 20px);
		margin: 10px;
		padding: 10px;
		background-color: #e6e6e6;
		float: left;
		@include respond-to() {
			left: 0;
			right: 0;
			width: 95%;
			margin: 0 auto;
			margin-top: 10px;
		}
		.widget-title {
			padding-left: 5px;
			color: #000;
      &::before {
        padding-right: 10px;
        content: '\f110';
        font-family: fontawesome;
    }
			@include respond-to() {
				width: $size__site-full;
			}
		}
    .search-form{
        .search-submit{
          background-color: #ec766a;
        }
    }
		ul {
			margin: 0;
			padding: 10px;
			list-style: none;
			@include respond-to() {
					width: $size__site-full;
			}
			li {
				display:inline-block;
				width: 100%;
				margin-top: 10px;
				@include respond-to() {
						width: 100%;
				}
				&::before {
					content: '\f061';
					color: #000;
					vertical-align: top;
					font-family: fontawesome;
					@include respond-to() {
							width: $size__site-full;
					}
				}
				a{
					display: inline-block;
					width: 90%;
					padding-left: 5px;
					color: #000;
				}
			}
		}

	/* Make sure select elements fit in widgets. */
		select {
			margin: 1rem;
			max-width: 100%;
			@include respond-to() {
					width: $size__site-full;
			}
		}
	}
	.widget_recent_comments{
		ul{
			li{
				span{
			    margin-left: 5px;
				}
			}
		}
	}
}
